@import '/src/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin: 10px auto 0;
    padding:20px 30px;
    border-radius: 100px;
    background-color: $black;

    .header-nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .button-pink, .button-pink:hover {
        background-color: $pink;
    }

    .nav-dropdown-trajet, .nav-dropdown-trajet button[data-hovered="true"] {
        background-color: $pink;
        border-color: $pink;
        color: $white;
    }

    .nav-dropdown-trajet::before {
        content: " ";
        width: 10px;
        height: 10px;
        background-color: $pink;
        position: absolute;
        top:-5px;
        left:50%;
        transform: rotate(45deg);
    }
    .nav-dropdown-profil, .nav-dropdown-profil button[data-hovered="true"] {
        background-color: $blue;
        border-color: $blue;
        color: $white;
    }
    .nav-dropdown-profil::before {
        content: " ";
        width: 10px;
        height: 10px;
        background-color: $blue;
        position: absolute;
        top:-5px;
        left:50%;
        transform: rotate(45deg);
    }

    .mantine-Menu-itemLabel, .mantine-Menu-itemIcon {
        color: $white;
    }
}