@import '/src/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin: 10px auto 0;
    padding:20px 30px;
    border-radius: 100px;
    background-color: $black;

    .header-nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    // Bouton Nouveau trajet
    .nav-dropdown-trajet {
        background-color: $pink;
        border-color: $pink;
    }
    .nav-dropdown-trajet button[data-hovered="true"] {
        background-color: $pink-hover;
        border-color: $pink-hover;
    }
    .nav-dropdown-trajet::before {
        content: " ";
        width: 10px;
        height: 10px;
        background-color: $pink;
        position: absolute;
        top:-5px;
        left:50%;
        transform: rotate(45deg);
    }

    // Bouton Nouveau trajet
    button.mantine-ActionIcon-root:hover {
        background-color: transparent;
    }

    // Bouton Profil
    .nav-dropdown-profil {
        background-color: $blue;
        border-color: $blue;
    }
    .nav-dropdown-profil button[data-hovered="true"] {
        background-color: $blue-hover;
        border-color: $blue-hover;
    }
    .nav-dropdown-profil::before {
        content: " ";
        width: 10px;
        height: 10px;
        background-color: $blue;
        position: absolute;
        top:-5px;
        left:50%;
        transform: rotate(45deg);
    }


}