.App {
  background-color: #0D0D0D;
  min-height: 100vh;
  overflow: auto;
  padding-bottom: 2rem;
}

.App::before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.3;
  background-image: url('./assets/img/bg-img.jpg');
  background-color: #0D0D0D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
}

.App:has(#Home)::before {
  opacity: 1;
}