@import '/src/variables';

#Profil {
    .informations {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .nameold p, .nameold h2 {
            margin: 0;
        }

        img {
            width: 130px;
        }

        @media (max-width: 767px) {
            img {
                width: 80px;
            }
        }
    }

    .block-options {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .mantine-Group-root {
            justify-content: left;
        }

        .others-options {
            float: right;
        }
    }

    a {
        color: #8b0b0d;
        border: 1px solid #8b0b0d;
        padding: 5px 10px;
        border-radius: 30px;
        float: right;
    }

    .content {
        margin: 25px 0; 

        h2:first-of-type {
            margin-top: 0;
        }
    }

    .mantine-Menu-dropdown {
        background-color: $blue;
        border: 1px solid $blue;

        &::before {
            content: " ";
            width: 10px;
            height: 10px;
            background-color: #2B65D9;
            position: absolute;
            top: -5px;
            left: 50%;
            transform: rotate(45deg);
        }

        .mantine-Menu-item[data-hovered] {
            background-color: #345FB6 !important;
        }
    }
}